header {
  height: 440px;
  width: 100%;
  color: #ffffff;
  background-color: #0C62A3;
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
}

.profile-icon { 
  position: relative;
  display: block;
  margin: auto;
  padding-top: 70px;
  z-index: 0;
  top: 55px;
  text-align: center;
}

.name-tag {
  top: 55%;
  width: 100%;
  text-align: center;
  z-index: 0;
}

h2 {
  color: #FFFFFF;
  font-weight: normal;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 1024px) {
  header {
    position: absolute;
    top: 42%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 39%;
    margin-left: 22px;
  }
}
