header {
  height: 450px;
  width: 100%;
  color: #ffffff;
  background-color: #0C62A3;
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
}

.profile-icon { 
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

h2 {
  color: #FFFFFF;
  font-weight: normal;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
  header {
    width: 39%;
    margin-left: 22px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
  }

  .profile-icon {
  position: relative;
  display: block;
  margin: auto;
  padding-top: 70px;
  z-index: 0;
  top: 5px;
  text-align: center;
  }

};
