header {
  height: 450px;
  width: 100%;
  color: #ffffff;
  background-color: #0C62A3;
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
}

.profile-icon { 
  position: relative;
  display: block;
  margin: auto;
  padding-top: 70px;
  z-index: 0;
  top: 55px;
  text-align: center;
}

.name-tag {
  top: 55%;
  width: 100%;
  text-align: center;
  z-index: 0;
}

h2 {
  color: #FFFFFF;
  font-weight: normal;
}
