nav {
position: fixed;
  height: 120px;
  width: 100%;
  background-color: #063356;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  z-index: 1;
}

nav span {
  font-family: 'Bungee', cursive;
}
